<div class="bordered" data-border-title="application">
  <ComponentWithNamedSlots as |slots| >
    <slots.body>This is the body</slots.body>
    <slots.header>Hello!</slots.header>
  </ComponentWithNamedSlots>
</div>